.company-section {
  padding: 5rem 2rem;
  background: linear-gradient(90deg, #f1f5f9, #f8fafc);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow: hidden;
}

.company-heading {
  font-size: 2.25rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 3rem;
  letter-spacing: -0.5px;
}

/* Gradient Fades on Sides */
.logo-slider::before,
.logo-slider::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  z-index: 2;
  top:0;
}

.logo-slider::before {
  left: 0;
  background: linear-gradient(to right, #f1f5f9, transparent);
}

.logo-slider::after {
  right: 0;
  background: linear-gradient(to left, #f1f5f9, transparent);
}

.logo-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.logo-track {
  display: flex;
  width: fit-content;
  animation: scroll 40s linear infinite;
  gap: 4rem;
  align-items: center;
 
}

.logo-img {
  height: 64px;
  max-width: 140px;
}


/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo-slider:hover .logo-track {
  animation-play-state: paused;
}

/* Responsive */
@media (max-width: 768px) {
  .company-heading {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  .logo-img {
    height: 40px;
    max-width: 100px;
  }

  .logo-track {
    gap: 2rem;
  }

  .logo-slider::before,
  .logo-slider::after {
    width: 50px;
  }
}
